body {
  background-color: #526b9e;
}

.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background: gray !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
    transition: all 0.2s !important;
}

.todoCard:hover {
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}